.live-chart {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
 
  h1 {
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 10px 20px;
    margin: 0;
  }

  .chart {
    position: relative;
    margin: 20px auto;
  }

  .baseline {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    z-index: 2;
    background: #555;

    span {
      position: absolute;
      left: 0;
      top: -25px;
      transform: translateX(-50%);
      font-style: italic;
    }
  }

  .chart-bars {
    position: relative;
    width: 100%;

    &.with-baseline {
      .bar-wrapper {
        left: 50%;
        padding-left: 0;

        label {
          left: -200px;
        }

        &.behind-baseline {
          left: auto;
          right: 50%;

          label {
            right: -210px;
            left: auto;
            text-align: left;
            flex-direction: row-reverse;

            img {
              margin: 0 10px 0 0;
            }
          }

          .value {
            right: 100%;
            left: auto;
            margin-left: 0;
            margin-right: 10px;
          }
        }
      }
    } 
  }
  
  .bar-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s linear;
    padding-left: 200px;
    box-sizing: border-box;

    label {
      position: absolute;
      height: 100%;
      width: 200px;
      left: 0;
      padding: 0 10px;
      box-sizing: border-box;
      text-align: right;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      font-weight: 700;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        max-height: 100%;
        max-width: 100%;
        margin-left: 10px;
      }
    }

    .value {
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      font-weight: 700;
      margin-left: 10px;
    }

    .bar {
      width: 100%;
    }
  }
}